---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natasja</title>
</head>
<body>
    <header>

	</header>
	<main>
		<h1>Natasja</h1>
	</main>
</body>
</html>



